@font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	src: url('assets/fonts/Manrope-Regular.ttf');
}

@font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	src: url('assets/fonts/Manrope-Medium.ttf');
}

@font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	src: url('assets/fonts/Manrope-SemiBold.ttf');
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	src: url('assets/fonts/Montserrat-SemiBold.ttf');
}

body {
	margin: 0;
	font-family: 'Manrope', sans-serif;
	font-size: 12px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}


/* Reset styles */

button {
	padding: 0;

	background-color: inherit;

	border: none;

	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;

	display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;

}

ul,
ol {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}


a {
	text-decoration: none;
}